.nav {
  display: flex;
  justify-content: flex-end;
  /* background-color: rgb(238, 218, 218); */
  align-items: center;
  gap: 5px;
}
.navLink {
  display: flex;
  padding: 15px 20px;
  /* border: 1px solid black; */
  /* background-color: rgb(238, 218, 218); */
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}
.active {
  box-shadow: azure;
  color: black;
}
